body {
    background-image: ;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url(http://static.tvtropes.org/pmwiki/pub/images/pokemon_1stgen.jpg);
    background-repeat: repeat;
}
button {
    margin: 0 auto;
}
td {
    height: 73vh;
    width: 33%;
    border: 1px solid black;
    text-align: center;
    background-color: blue;
}
#fire {
    background-image: url(https://vignette.wikia.nocookie.net/pokemon-revolution/images/4/41/004Charmander_OS_anime_2.png/revision/latest?cb=20150625082016);
}
#water {
    background-image: url(https://vignette.wikia.nocookie.net/pokemon-revolution/images/3/3c/250px-007Squirtle.png/revision/latest/scale-to-width-down/200?cb=20150625083006);
}
#grass {
    background-image: url(https://vignette.wikia.nocookie.net/pokemon-revolution/images/4/4a/1.png/revision/latest/scale-to-width-down/200?cb=20150625080717);
}
td:hover {
    background-color: red;
}
table {
    margin: 0 auto;
    width: 100%;
    height: 90%;
}
div {
    margin: 0 auto;
    color: black;
    text-align: center;
    font-weight: bold;
}
h2 {
    margin: 0 auto;
    color: black;
    text-align: center;
    font-weight: bold;
}
h1 {
    color: black;
    border: 1px solid black;
    background-color: white;
}